@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100&display=swap');


:root {
  --FONT: "Lato", sans-serif;
}

* {
  font-family: var(--FONT);
}

body {
  background-color: #d8d6d6;
}

.title-name {
  font-family: 'Ysabeau Office', sans-serif;
}

.sub-text {
  font-size: 0.7em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

.bg-primary-color {
  background-color: #19203b;
  border-bottom: 1px solid whitesmoke;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}
  
.primary-color {
  color: #f2f2f2;
}

.secondary-color {
  color: #7a7a7a;
}

.terciary-color {
  color: #050505;
}

.bg-four-color {
  background-color: #19203b;
}

.btn {
  font-size: 1.1em;
}

.btn-dark {
    background-color: #4A5880;
    border: none;
}

.btn-dark:hover {
    background-color: #39476d;
}

/* NAVBAR */

#navbar {
  box-shadow: 1px 1px 2px #05050562;
}

#navbar a:hover {
  color: #8C8281;
}

#navbar a.active {
  color: white;
  border-bottom: 1px solid white;
}

#navbar a.active:hover {
  color: #8C8281;
  border-color: #8C8281;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 50px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-items {
  margin: 0 1em;
}

.navbar-toggler {
  color: white;
  border-color: #b5c3cc2c;
}

/* SLIDERS */

#londolyta {
  margin-top: 8%;
}

.carousel-container {
  position: relative;
  overflow: hidden; /* Impede que a imagem fixa seja mostrada fora do carousel */
}

#slider {
  margin: 8em 0 1em 0;
}

#slider .carousel-caption {
  bottom: 5em;
}

#slider .carousel-caption h5 {
  font-size: 2em;
  text-shadow: #000 1px 1px;
}

.btn {
  border-radius: 5px;
}

#slider .btn {
  padding: 0.3 0.8em;
  font-size: 1em;
  margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #d8d6d6c5;
  font-size: 3em;
}

@media (min-width: 768px) {

  #slider .carousel-caption {
    bottom: 9em;
  }

  #slider .carousel-caption {
    font-size: 2.5em;
    text-shadow: #000 1px 1px;
  }

  #slider .btn {
    padding: 0.6 1.6em;
    font-size: 0.8em;
  }

  .carousel-indicators {
    bottom: 5em;
  }

}

/* MINI BANNERS */

#mini-banners {
  margin-bottom: 4em;
}

#mini-banners {
  padding: 2em 0.3em;
}

#mini-banners i {
  font-size: 4em;
  margin-top: 14px;
}

#mini-banners .card-title {
  margin-bottom: 1.5em;
  font-weight: 700;
}

#mini-banners .btn {
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
  border-radius: 0;
}

.bg-dark-card {
    border: 2px solid whitesmoke;
    background-color: #19203b;
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    #mini-banners {
        margin-top: -8em;
    }
  }

  /* DESTAQUES */

  #featured-container {
    margin-bottom: 4em;
  }

  .title {
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
  }

  .title::before {
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: '';
    position: absolute;
    bottom: 2em;
  }

  #featured-images {
    margin-top: 2em;
  }

  #featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
  }

  #featured-images .col-md-4:hover > .banner-content {
    opacity: 0.8;
  }

  #featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d8d6d6;
    color: #262c2f;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
  }

  @media(min-width: 768px) {
    .title {
      font-size: 2.4em;
    }

    .title:before {
      bottom: 1.5em;
    }

    #featured-images .banner-content {
      opacity: 0;
    }
  }

  /* INFO */

  #info-content {
    margin-bottom: 4em;
    padding: 4em 1em;
  }

  #info-numbers {
    margin: 1.5em 0;
  }

  #info-banner {
    display: flex;
    align-items: center;
    margin-bottom: 4em;
  }

  #info-numbers h3 {
    font-size: 3em;
  }

  .information-bottom {
    border-radius: 0;
  }

  @media(min-width: 768px) {
    #info-content {
      padding: 3.5em;

    .information-bottom {
        padding: 1em;
        width: 10em;
        font-size: 1.3em;
      }
    }
  }

/* FOOTER TOP */

#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */

#footer-details {
  margin-bottom: 3em;
}

#new-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 3em;
}

#footer-details h4 {
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

.submit-inscrever {
  border-radius: 0;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #929292;
}

/* FOOTER BOTTOM */

#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  padding-left: 10px;
}

@media(min-width: 768px) {
  
  #new-container {
    padding-right: 2em;
  }

  #links-container {
    padding-left: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }
}